.v-list-subheader {
  font-weight: bold
}

.v-list-item--active {
  .v-list-item-title {
    font-weight: 600
  }
}


.v-select > .v-input__control > .v-field > .v-field__field > .v-field__input {
  min-height: 45px !important;
  padding-top: 0;
  padding-bottom: 0;
  flex-wrap: unset;

  input {
    align-self: unset;
    position: unset;
    flex: none;
  }
}

.v-badge__badge {
  bottom: 0 !important;
  left: calc(100% + 10px) !important;
}

