@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Inter,
  Roboto,
  serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    width: 0.3rem;
    height: 0.3rem;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
